<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" href="fav.ico" type="image/x-icon" />
</head>
<body>
  
</body>
</html><div *ngIf="!hideHeaderAndSidebar">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
</div>

<div  *ngIf="!hideHeaderAndSidebar || !hideHeaderAndSidebar" class="content">
  <router-outlet></router-outlet>
</div>
<div  *ngIf="hideHeaderAndSidebar" class="">
  <router-outlet></router-outlet>
</div>
